body {
  margin: 0;
  padding: 0;
}
.menu__navigation-item_logo {
  text-transform: uppercase;
}
.menu__navigation_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}
.menu__navigation_list li {
    padding: 10px 10px;
}
.menu__navigation-item_sign-in {
    margin-left: 20px;
}
.menu__navigation-item_sign-up {
    border: 1px solid black;
}
.menu__header {
    margin: 15vw;
    text-align: center;
}
.menu__counter {
    text-align: center;
}
.menu__start_button {
    padding: 20px 30px;
    margin-right: 40px;
}
.menu__play_button {
    border-radius: 100%;
    padding: 20px;
    margin-right: 20px;
}
.cards {
    overflow-x: scroll;
    background-color: blue;
}
button {
    border: none;
    background-color: blue;
}
.cards article{
    display: inline-block;
    width: 25%;
    height: 35vw;
}
.card__description {
    overflow: hidden;
    margin: 50px 10vh;
}
.card__course {
    overflow: hidden;
    background: white;
    margin: 50px 20px;
    box-shadow: 6px 7px 15px 0px rgba(50, 50, 50, 0.68);
}
.card__course:hover {
    box-shadow: 6px 7px 30px 0px rgba(50, 50, 50, 0.68);
}
.card__course img {
    height: 75%;
}
.card__course:hover img {
    height: 50%;
}

.card__course h2 {
    opacity: 0;
    color: grey;
}
.card__course:hover h2 {
    opacity: 1;
}
